{% extends "base.html" %}

{%  block titulo %}  fotos  {%  endblock  %}

{%  block contenido %} 


<!DOCTYPE html> 
<html> 
    <head> 
        <title>Gif the fondo.</title> 
        <style> 
            body { 
                background-image: url("https://e0.pxfuel.com/wallpapers/605/197/desktop-wallpaper-cool-gaming-gif-novocom-top-pixel-art-gaming.jpg"); 
                background-position: center 19%; 
                background-size: cover; 
            } 
        </style>
        
    </head> 
    <body>  

      <figure class="figure ">
        <a href="https://www.hbomax.com/uy/es">
          <img src="https://imagenes.20minutos.es/files/gallery_desktop_default_content/uploads/imagenes/2022/12/01/poster-de-bella-ramsay-en-the-last-of-us.jpeg" class="figure-img img-fluid " alt="" height=”250” width=300” > 
          <figcaption class="figure-caption text-end" style='color:#1B2631;'><strong>SIN DUDA UN BUENA ADAPTACION AL JUEGO.</strong></figcaption>
        </a>
        </figure>
        <figure class="figure ">
          <a href="https://www.youtube.com/watch?v=u0hxjdWG84k">
            <img src="https://lumiere-a.akamaihd.net/v1/images/poster_avatar_2_el_camino_del_agua_1d2e37ee.jpeg?region=0,0,752,1080" class="figure-img img-fluid " alt="" height=”400” width=400” > 
            <figcaption class="figure-caption text-end" style='color:#1B2631;'><strong>YA LA VISTE? NO? COMO QUE NO? VELA TIENES QUE HACERLO.</strong></figcaption>
          </a>
          </figure>
          <figure class="figure ">
            <a href="https://www.bungie.net/7">
              <img src="https://media.tenor.com/OV4s3TnsmQUAAAAd/destiny2-lightfall.gif" class="figure-img img-fluid " alt="" height=”400” width=500” > 
              <figcaption class="figure-caption text-end" style='color:#1B2631;'><strong>ESTE ES MI JUEGO FAVORITO. DIME CUAL ES EL TUYO ?.</strong></figcaption>
            </a>
            </figure>
            <figure class="figure ">
              <a href="https://www.youtube.com/watch?v=AN4PMYRE9qk">
                <img src="https://www.gourmets.net/image/catalog/2020/Blog/Febrero/Viaje%20a%20Noruega/tierra-de-vikingos-noruega.jpg" class="figure-img img-fluid " alt="" height=”400” width=800” > 
                <figcaption class="figure-caption text-end" style='color:#1B2631;'><strong>UN GRAN VIAJE.</strong></figcaption>
              </a>
              </figure>
    </body> 
</html> 
    


{%  endblock  %}