{% extends "base.html" %}

{%  block titulo %}  Links {%  endblock  %}

{%  block contenido %}


<!DOCTYPE html> 
<html> 
    <head> 
        <title>Gif the fondo.</title> 
        <style> 
            body { 
                background-image: url("https://thumbs.gfycat.com/ImmenseMiniatureCondor-size_restricted.gif"); 
                background-position: center 10%; 
                background-size: cover; 
            } 
        </style> 
    </head> 
    <body> 
        <div class="card float-end" style="width: 18rem;">
            <img src="https://images.opencollective.com/bootstrap/a892851/background.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
              <p class="card-text">Este es unas de las herramientas mas usadas por los desarrolladores.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Es facil de usar.</li>
              <li class="list-group-item">Gran soporte a la hora de trabajar.</li>
              <li class="list-group-item">Y un excelente sitio para empezar.</li>
            </ul>
            <div class="card-body">
              <a href="https://getbootstrap.com/" class="card-link" style='color:#17202A ;'>Bootstrap</a>
              <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" class="card-link" style='color:#17202A'>Opciones de Bootstrap</a>
            </div>
          </div>



          <div class="card" align='right' style="width: 18rem;">
            <img src="https://developer.mozilla.org/mdn-social-share.cd6c4a5a.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Mmdn_</h5>
              <p class="card-text">De aqui pude aclarar muchas dudas.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Es facil de usar.</li>
              <li class="list-group-item">Gran soporte a la hora de trabajar.</li>
              <li class="list-group-item">Y un excelente sitio para empezar.</li>
            </ul>
            <div class="card-body">
              <a href="https://developer.mozilla.org/es/" class="card-link" style='color:#8E44AD'>Mmdn_</a>
              <a href="https://developer.mozilla.org/es/docs/Learn" class="card-link" style='color:#8E44AD' >Guias de Mmdn_</a>
            </div>
          </div>

          <div class="card float-end" style="width: 18rem;">
            <img src="https://crowdbotics.ghost.io/content/images/2019/05/django.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Django</h5>
              <p class="card-text">Este Freamwork es con el que realice este proyecto.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Es facil de usar.</li>
              <li class="list-group-item">Gran soporte a la hora de trabajar.</li>
              <li class="list-group-item">Tambien es una buena guia para empezar.</li>
            </ul>
            <div class="card-body">
              <a href="https://www.djangoproject.com/" class="card-link" style='color:#17202A ;'>Django</a>
              <a href="https://docs.djangoproject.com/en/4.1/" class="card-link" style='color:#17202A'>Primeros pasos</a>
            </div>
          </div>

          <div class="card" align='right' style="width: 18rem;">
            <img src="http://res.cloudinary.com/hdsqazxtw/image/upload/v1570710978/coderhouse.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">CodeHouse</h5>
              <p class="card-text">De aqui fue donde pude empezar este proyecto.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">RECOMENDABLE PARA CUALQUIERA</li>
              <li class="list-group-item">Gran soporte a la hora de trabajar.</li>
              <li class="list-group-item">Y un gran sitio para hacer una carrera en base a la rama de programacion.</li>
            </ul>
            <div class="card-body">
              <a href="https://www.coderhouse.com.uy/" class="card-link" style='color:#8E44AD'>CoderHouse</a>
              <a href="https://www.coderhouse.com.uy/online/python" class="card-link" style='color:#8E44AD' >Curso que realice</a>
            </div>
          </div> 
          <div class="card float-end" style="width: 18rem;">
            <img src="https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Git Hub</h5>
              <p class="card-text">Este es un sitio en donde se puede subir el proyecto.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">RECOMENDABLE A LA HORA DE GUERDAR TUS ARCHIVOS.</li>
              <li class="list-group-item">Sencillo de usar.</li>
              <li class="list-group-item">Contiene mucha informacion de parte de otros proyectos.</li>
            </ul>
            <div class="card-body">
              <a href="https://github.com/" class="card-link" style='color:#17202A ;'>GIT HUB</a>
              <a href="https://github.com/monchis12345/sistema" class="card-link" style='color:#17202A'>Repositorio donde se subio el proyecto.</a>
          </div>
          </div>
          <div class="card" align='right' style="width: 18rem;">
              <img src="https://yt3.googleusercontent.com/dW6to0x5Crmeh7yi-YPLcQRqVrBtx2BSh8eoKTJbE8NbjloQ0sqlmdszIlxokJU_97-ndOt_=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">W3 schools</h5>
                <p class="card-text">Es un sitio web de guias para pricipiantes.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">RECOMENDABLE PARA EMPEZAR A PROGRAMAR</li>
                <li class="list-group-item">Gran soporte a la hora de trabajar.</li>
                <li class="list-group-item">Contiene mucha informacion a la hora de buscar informacion.</li>
              </ul>
              <div class="card-body">
                <a href="https://www.w3schools.com/" class="card-link" style='color:#8E44AD'>Learn to code</a>
                <a href="https://www.w3schools.com/html/default.asp" class="card-link" style='color:#8E44AD' >guia de html</a>
            </div>
          </div>

          



    </body> 
</html>








{%  endblock  %}