{% extends "base.html" %}

{%  block titulo %}  Nosotros  {%  endblock  %}

{%  block contenido %} 

<!DOCTYPE html> 
<html> 
    <head> 
        <title>Gif the fondo.</title> 
        <style> 
            body { 
                background-image: url("https://thumbs.gfycat.com/AmpleHorribleDalmatian-size_restricted.gif"); 
                background-position: center 5%; 
                background-size: cover; 
            } 
        </style>
        
    </head> 
    <body>



    </body> 
</html> 


{%  endblock  %}

