{% extends "base.html" %}

{%  block titulo %}  Nosotros  {%  endblock  %}

{%  block contenido %} 

<!DOCTYPE html> 
<html> 
    <head> 
        <title>Gif the fondo.</title> 
        <style> 
            body { 
                background-image: url("https://i.pinimg.com/originals/91/fc/54/91fc549c130f969b61afa9065ad2132d.gif"); 
                background-position: center 5%; 
                background-size: cover; 
            } 
        </style>
        
    </head> 
    <body>
        <h4 class="display-1"> 
            Perfil del creador
        </h4>

        <div class="row">
            <div class="col-4">
              <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Como comenzó ?</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Ramon Fernando Herrera Botía</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Trabajos</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Proyecto</a>
              </div>
            </div>
            <div class="col-8">
              <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <h4 id="list-item-1">Comienzó</h4>
                <p>Hola, que tal?, espero que estes bien, me alegra que veas esta <strong>PAGINA WEB</strong>, siendo mi primer proyecto de programacion y todo comenzo cuando entre a estudiar concoderhouse, empezando con las primeras preentregas, bastante animas todas las clases y sin duda una buena experiencia. </p>
                <h4 id="list-item-2">Perfil personal</h4>
                <p>Mi nombre, como ya se vio, es Ramon Herrera, tengo 21 años, en este perfil intentare resumir un poco sobre mí, empezando que soy una persona trabajadora, cierto es que esta pagina esta incompleta, pero es porque soy un principiante pero sin duda 
                    es muy satisfactorio programar, en cierto sentido es muy relagante estudiar y trabajar con este tipo de carrera y pienso seguir adelante con esta rama laboral, me llamo la atención la programacion porque en principio me apoye con la rama de Mantenimiento y reparacion de equipos, sin embargo me deje llevar por la programacion asi que en un futuro mi meta es ser un programador-tecnico en ordenadores.
                </p>
                <h4 id="list-item-3">Sector laboral.</h4>
                <p>Yo soy español y me vine una temporada para aca, uruguay, pero tambien eh trajado en varios sitios de camarero-de bar hasta profesional- tambien eh pasado por cocinero y teleoperador, y me encantaria tener este curso así podria conseguir o obtener mas experiencia en este sector laboral.</p>
                <h4 id="list-item-4">Preentregas</h4>
                <p>Si bien estas viendo esta pagina web, es muy simple pero la idea es subir tus fotos favoritas, tmabien pensaba hacerle una actualizacion para subir videos en un futuro, pero muchas gracias por estar ahi, si a ustedes profesores tantos tutores como correctores, os agradesco la oportunuidad de aprender.S</p>
              </div>
            </div>
          </div>

    </body> 
</html> 


{%  endblock  %}

